# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# System files
.DS_Store

# Build output
dist
dist-ssr

# Coverage directory used by tools like istanbul
coverage

# Local environment files
.env
*.local

# Cypress artifacts
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
