.select-fixed-width {
  width: 350px;
  padding-top: 15px;

}

.custom-snackbar {
  position: fixed !important;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  bottom: auto !important;
  right: auto !important;
}

.table-icons {
  border: none;
  box-shadow: none;
  outline: none;
}