.select-fixed-width {
  width: 250px;
}

/* snackbarStyles.css */
.custom-snackbar {
  position: fixed !important;
  top: 115px; /* Adjust this value as needed to move the snackbar down */
  left: 50%;
  transform: translateX(-50%);
  bottom: auto !important;
  right: auto !important;
}
